.maindiv {
  font-size: 1.9em;
  padding: 3em;
}
/* HEADER section */
.sign {
  align-items: center;
  font-size: smaller;
  background-color: var(--second-color);
  border-radius: 25px;
  padding: 1.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sign span {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--lightgreen);
}
.signup {
  color: var(--lightgreen);
  text-align: center;
  font-size: 2em;
}

/* FORM section */
.formmain {
  flex: 1;
  display: flex;
  flex-direction: column;

  background-color: var(--form-bg);
  border-radius: 0 25px 25px 0;
  border-left: 1rem solid var(--second-color);
  margin: 2rem 0;
  padding: 3rem 6rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
label {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.side__cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.side__box {
  width: 35%;
}
.side__box input,
.side__box select {
  width: 100%;
}

select,
option,
button,
input {
  color: black;
  font-size: 1rem;
}

.weekdays__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.column {
  display: flex;
  justify-content: start;
  width: 100%;
}

.column label {
  display: flex;
  width: 160px;
  font-size: 0.6em;
  align-items: center;
  margin-top: 0.5rem;
}

.yogahiit {
  display: flex;
  align-items: center;
  padding-right: 95%;
}

.cardiost {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 95%;
  padding-left: 70px;
}

.musclegroups {
  padding-left: 10%;
}

.chestarms {
  display: flex;
  align-items: center;
  padding-right: 90%;
}

.shoulders {
  display: flex;
  align-items: center;
  padding-right: 100%;
}

/* Workout section */

h6 {
  margin-top: 2rem;
  color: var(--red-orange);
}
.main__section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.label_box {
  width: 180px;
}
.label_box label {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
}

/* Submit Button */
.submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  cursor: pointer;
}
.submit_button button {
  position: relative;
  background: var(--lightgreen);
  border: none;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px 30px;
  transition: 0.5s;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.submit_button span {
  color: black;
  font-size: 1em;
  font-weight: bolder;
}
.submit_button button:hover {
  letter-spacing: 0.25em;
  background-color: var(--color-bg);
  box-shadow: 0 0 30px var(--second-color);
}
.submit_button span:hover {
  color: white;
}

@media screen and (max-width: 600px) {
  .signup {
    font-size: 2rem;
  }
  .signup span {
    font-size: 1rem;
  }
  .formmain {
    padding: 2rem 2.5rem;
  }
  .side__cont {
    display: flex;
    flex-direction: column;
  }
  .side__box {
    width: 100%;
  }
  .side__box h6,
  .workouts h6 {
    font-size: 1rem;
  }
  .label_box {
    width: 200px;
  }
  .label_box label {
    font-size: 14px;
  }
  .submit_button {
    margin: 2rem 0;
  }
}
