.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding: 2rem;
  margin: 2rem;
}

.users-name {
  text-align: center;
  color: #ff693e;
}

.workout-breakdown {
  text-align: center;
  color: lightblue;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.routine {
  margin-bottom: 2rem;
  text-align: center;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));

  justify-content: center;
  width: 92%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.days {
  border-radius: 0 25px 25px 0;
  border-left: 2rem solid var(--second-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.9px 2.6px;

  padding: 2rem;
  margin: 2rem;
  text-align: center;
  background-color: var(--card-bg);
}

ul {
  list-style-type: none;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-list {
  color: #c2ebff;
  margin: 2rem;
  text-align: left;

  font-size: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--border-line);
}
.button__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  cursor: pointer;
}
.show-more-button {
  border: none;
  background: var(--lightgreen);
  border-radius: 25px;
  text-decoration: none;
  padding: 10px 30px;
  transition: 0.5s;
  letter-spacing: 0.1em;
  font-size: 1rem;
  font-weight: 800;
  color: black;
}

.show-more-button:hover {
  letter-spacing: 0.25em;
  background-color: var(--color-bg);
  box-shadow: 0 0 30px var(--second-color);
  color: white;
}

.additional-info {
  max-width: 100%;
  margin-top: 2rem;
}

.additional-info iframe {
  width: 100%;
}

p {
  margin-bottom: 1rem;
}

.card-header {
  width: 85%;
  background-color: rgb(13, 110, 124, 0.15);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 25px;
  margin: 2rem 0;
  padding: 2rem 3rem 4rem 3rem;
}
.card-header h1,
h3,
h4,
p {
  line-height: 1.5;
  color: var(--lightgreen);
  margin-bottom: 10px;
}
.card-header h1 {
  color: var(--txt-color);
}
.card-header strong {
  font-size: 1.15rem;
  color: var(--red);
}

.day__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.day__header h2 {
  font-size: 3rem;
  color: var(--lightgreen);
}
.image-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.image-container img {
  width: 50px;
}

.list__cont {
  margin: 0;
}

.show__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  .card {
    margin: 1rem;
    padding: 0;
    overflow: hidden;
  }
  .card-header strong {
    font-size: 12px;
  }
  .days-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 1rem 0 0 0;

    padding: 0;
  }
  .day__header {
    gap: 10px;
  }
  .day__header h2 {
    font-size: 20px;
  }
  .days {
    border-left: 1rem solid var(--second-color);
    margin: 0.5rem;
  }
  ul {
    padding: 0;
  }
  .card-list {
    font-size: 14px;
    margin: 1rem 2rem;
  }
  .show-more-button {
    font-size: 12px;
  }
}
@media screen and (max-width: 550px) {
  .card {
    margin: 1rem;
    padding: 0;
    overflow: hidden;
  }
  .card-header strong {
    font-size: 14px;
  }
  .days-container {
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    margin: 0;
  }
  .day__header {
    gap: 20px;
  }
  .day__header h2 {
    font-size: 2rem;
  }
  .image-container img {
    width: 35px;
  }
  ul {
    padding: 0;
  }
  .card-list {
    font-size: 14px;
    margin: 1rem 2rem;
  }
  .button__cont {
    padding-bottom: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  .card {
    margin: 0;
    padding: 0;
  }

  .days-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 0;
  }
  .days {
    border-left: 1rem solid var(--second-color);
    margin: 0.9rem;
  }
  .day__header {
    gap: 10px;
  }
  .show-more-button {
    font-size: 12px;
  }
}
