@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;

  --color-bg: #0d1f2d;
  --second-color: #0d6e7c;
  --lightgreen: #b2ffff;
  --txt-color: #e0e0e0;
  --red: #ff3d3d;
  --: #ffe0c8;
}
