.card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 2rem;
    
    /* padding: 2rem 2rem; */
    /* width: 100%; */
   
  
}

.users-name {
    text-align: center;
    color: #ff693e;
}

.workout-breakdown {
    text-align: center;
    color: lightblue;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.routine {
    margin-bottom: 2rem;
    text-align: center;
}

.card-header {
  
    border-radius: 10px;
    border: 2px solid lightblue;
    /* padding: 10px; */
    color: white;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 4px 4px 8px 0.2px #15f099;
    width: 100%;
    
}

.days {
    border: 2px solid #15F099 ;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0.2px #C2EBFF;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    /* width: 300px; */
    width: 100%;
    /* flex: 0 0 auto; */
    /* width: calc(50% - 20px); */
    /* max-width: 500px; */
    /* box-sizing: border-box; */
    
    
}

.days-container {
    display: grid; 
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-auto-rows: minmax(auto, max-content); */
    /* gap: 10px; */
    /* overflow-y: auto; */
    /* max-height: calc(100% - 100%); */
   
    /* max-height: 75vh; */
    justify-content: center;
    /* align-content: start; */
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    

    

    /* display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; */
}

.card-list {
    color: #C2EBFF;
    margin-bottom: 2rem;
   text-align: left;
   list-style-type: none;
   /* display: inline-block; */
}

.show-more-button {
    /* color: #ff693e;
    font-weight: bold;
    margin-top: 2rem;
    
    background-color: #C2EBFF;
    cursor: pointer; */
    position: relative;
    background: var(--lightgreen);
    color: #ff693e;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px 30px;
    transition: 0.5s;
    letter-spacing: 0.1em;
    cursor: pointer; 
    border: none;  
}

.show-more-button:hover {
    
        letter-spacing: 0.25em;
        background-color: var(--color-bg);
        box-shadow: 0 0 30px var(--second-color);
        /* margin-bottom: 1rem; */
}

.image-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* max-width: fit-content; */
}

 .additional-info {
    max-width: 100%;
    margin-top: 2rem;
} 

.additional-info iframe {
    width: 100%;
}

p {
    margin-bottom: 1rem;
}


/* @media (max-width: 768px) { */
    /* .days {
      /* display: flex;  */
      /* max-width: none; */
    /* }  */


    /* .days-container { */
        /* display: grid;  */
        /* grid-template-columns: repeat(2, 1fr); */
        /* grid-auto-rows: minmax(auto, max-content); */
        /* gap: 10px; */
        /* overflow-y: auto; */
        /* max-height: calc(100% - 100%); */
        /* padding: 10px; */
        /* margin: 10px; */
        /* max-height: 75vh; */
        /* justify-content: center; */
        /* align-content: start; */
       
    
        /* display: flex;
        flex-wrap: nowrap;
        overflow-x: auto; */
    /* } */

    /* .image-container {

    } */

/* } */
  


@media (min-width: 768px) {
    .days-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /* flex-wrap: nowrap;  */
      gap: 8rem;
      /* padding: 2rem; */
      /* padding-left: 0px; */
      margin: 0 auto;
      max-width: 100vw;
      /* display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 50%; */

      background-color: var(--second-color);
      
    }

    .days {
        /* max-width: none; */
        display: flex;
        flex-direction: column;
        
    }

    /* .card-list {
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .image-container {
        max-width: fit-content;
        
    }


  
     /* .days > div {
      flex: 0 0 calc(33.33% - 20px);
      margin: 10px; 
    } */
  } 