.maindiv {
  padding: 4rem 6rem;
  font-size: 1.9em;
}

.signup {
  padding: 4rem;
  text-align: center;
  font-size: 2.5em;
}

.formmain {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

select,
option,
button,
input {
  color: black;
  font-size: 0.8em;
}
.daylabel {
  display: flex;
  font-size: 0.6em;
  padding: 0.5em;
  padding-left: 40%;
}

input[type="checkbox"] {
  margin-left: 10px;
}

.suntues {
    display: flex;
    align-items: center;
    padding-right: 80%
}

.wedsat {
    display: flex;
    align-items: center;
    padding-right: 100%
}

/* .generateplan {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
} */

/* Submit Button */
.submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  margin-top: 5rem;
  cursor: pointer;
}
.submit_button button {
  position: relative;
  background: var(--lightgreen);
  border: none;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px 30px;
  transition: 0.5s;
  letter-spacing: 0.1em;
}
.submit_button span {
  color: black;
  font-size: 1em;
  font-weight: bolder;
}
.submit_button button:hover {
  letter-spacing: 0.25em;
  background-color: var(--color-bg);
  box-shadow: 0 0 30px var(--second-color);
}
.submit_button span:hover {
  color: white;
}
